@keyframes rotation_header__square-pic-black {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

.header__square-pic-black {
    position: absolute;
    z-index: 1;
    width: 568px;
    height: 568px;
    background-color: #000;
    top: 64px;
    right: 0;
    animation: rotation_header__square-pic-black 20s linear infinite;
}

@keyframes rotation_header__square-pic-blue {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.header__square-pic-blue {
    position: absolute;
    z-index: 2;
    width: 568px;
    height: 568px;
    background-color: #2f80ed;
    top: 64px;
    right: 0;
    animation: rotation_header__square-pic-blue 20s linear infinite;
}