.feynman {
    height: 890px;
    position: relative;
    background-color: #f2f2f2;
}
  
.feynman__title {
    width: 648px;
    margin: 0 auto 0;
    position: relative;
    z-index: 1;
}
  
.feynman__title-text {
    font-size: 120px;
}

.feynman__sutitle {
    position: relative;
    z-index: 1;
}

.feynman__link {
    position: absolute;
    z-index: 1;
    right: 48px;
    top: 445px;
}
  
.feynman__bacground-image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}