.techniques {
    height: auto;
}

.techniques__table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 0 100px; /* вертикальный и горизонтальный отступы между ячейками */
    width: 920px;
    margin: 0 auto;
}

.techniques__table__cell {
    width: 240px;
    text-align: center;
}

.techniques__table__text-text {
    line-height: 23pz;
}