.kaufman {
    position: relative;
    overflow: hidden;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1f1f1f;
    z-index: -1;
    color: white;
}

.kaufman__table {
    width: 1100px;
}

.kaufman__table__cell {
    margin-top: 80px; 
}
  
.kaufman__title {
    width: 60%;
    margin: 0 auto 0;
}
  
.kaufman__subtitle {
    width: 60%;
    margin: 20px auto 0;
}
