.table {
    width: 1100px;
    margin: 0 auto 0;
}
  
.table__cell {
    width: 250px;
    display: inline;
    margin-top: 60px; 
}
  
.table__heading {
    margin-top: 0px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}
  
.table__text {
    margin-top: 20px;
}
  
.table__text-text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}
